<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BigBadBaby.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,678},{245,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{245,280}}</string>
                <key>sourceSize</key>
                <string>{247,282}</string>
            </dict>
            <key>Hero.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,678},{256,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{256,216}}</string>
                <key>sourceSize</key>
                <string>{258,218}</string>
            </dict>
            <key>arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1780,1079},{33,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{33,40}}</string>
                <key>sourceSize</key>
                <string>{35,42}</string>
            </dict>
            <key>big_panel.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,2},{438,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{438,500}}</string>
                <key>sourceSize</key>
                <string>{440,502}</string>
            </dict>
            <key>black_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,682},{483,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{483,45}}</string>
                <key>sourceSize</key>
                <string>{485,47}</string>
            </dict>
            <key>black_panel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1638,234},{356,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{356,82}}</string>
                <key>sourceSize</key>
                <string>{358,84}</string>
            </dict>
            <key>black_panel_backup.png</key>
            <dict>
                <key>frame</key>
                <string>{{1599,505},{292,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{292,69}}</string>
                <key>sourceSize</key>
                <string>{294,71}</string>
            </dict>
            <key>black_panel_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,796},{391,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{391,90}}</string>
                <key>sourceSize</key>
                <string>{393,92}</string>
            </dict>
            <key>black_panel_coins.png</key>
            <dict>
                <key>frame</key>
                <string>{{1599,434},{292,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{292,69}}</string>
                <key>sourceSize</key>
                <string>{294,71}</string>
            </dict>
            <key>black_panel_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{1599,576},{292,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{292,48}}</string>
                <key>sourceSize</key>
                <string>{294,50}</string>
            </dict>
            <key>button_empty_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1051,940},{241,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{241,77}}</string>
                <key>sourceSize</key>
                <string>{243,79}</string>
            </dict>
            <key>button_empty_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1197,1019},{148,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{148,48}}</string>
                <key>sourceSize</key>
                <string>{150,50}</string>
            </dict>
            <key>button_empty_red_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,936},{241,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{241,77}}</string>
                <key>sourceSize</key>
                <string>{243,79}</string>
            </dict>
            <key>button_empty_red_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,960},{200,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{200,63}}</string>
                <key>sourceSize</key>
                <string>{202,65}</string>
            </dict>
            <key>button_items.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,474},{492,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{492,163}}</string>
                <key>sourceSize</key>
                <string>{494,165}</string>
            </dict>
            <key>button_revive.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,936},{241,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{241,77}}</string>
                <key>sourceSize</key>
                <string>{243,79}</string>
            </dict>
            <key>button_revive_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1599,784},{241,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{241,77}}</string>
                <key>sourceSize</key>
                <string>{243,79}</string>
            </dict>
            <key>button_sound_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1599,705},{241,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{241,77}}</string>
                <key>sourceSize</key>
                <string>{243,79}</string>
            </dict>
            <key>button_sound_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1599,626},{241,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{241,77}}</string>
                <key>sourceSize</key>
                <string>{243,79}</string>
            </dict>
            <key>button_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,504},{492,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{492,172}}</string>
                <key>sourceSize</key>
                <string>{494,174}</string>
            </dict>
            <key>button_weapons.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,639},{492,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{492,155}}</string>
                <key>sourceSize</key>
                <string>{494,157}</string>
            </dict>
            <key>coins_reward.png</key>
            <dict>
                <key>frame</key>
                <string>{{1051,1019},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{144,144}}</string>
                <key>sourceSize</key>
                <string>{146,146}</string>
            </dict>
            <key>icon_coins.png</key>
            <dict>
                <key>frame</key>
                <string>{{1909,1009},{72,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{72,69}}</string>
                <key>sourceSize</key>
                <string>{74,71}</string>
            </dict>
            <key>icon_coins_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{1983,896},{55,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{55,54}}</string>
                <key>sourceSize</key>
                <string>{57,56}</string>
            </dict>
            <key>icon_energy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1958,318},{58,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,71}}</string>
                <key>sourceSize</key>
                <string>{60,73}</string>
            </dict>
            <key>icon_revive.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,960},{201,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{201,181}}</string>
                <key>sourceSize</key>
                <string>{203,183}</string>
            </dict>
            <key>item_icon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1842,730},{146,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{146,144}}</string>
                <key>sourceSize</key>
                <string>{148,146}</string>
            </dict>
            <key>item_icon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1893,582},{146,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{146,144}}</string>
                <key>sourceSize</key>
                <string>{148,146}</string>
            </dict>
            <key>item_icon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1893,434},{146,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{146,144}}</string>
                <key>sourceSize</key>
                <string>{148,146}</string>
            </dict>
            <key>level_dot_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1565,796},{55,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{55,25}}</string>
                <key>sourceSize</key>
                <string>{57,27}</string>
            </dict>
            <key>level_dot_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1574,400},{55,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{55,25}}</string>
                <key>sourceSize</key>
                <string>{57,27}</string>
            </dict>
            <key>metal1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1780,996},{47,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{47,81}}</string>
                <key>sourceSize</key>
                <string>{49,83}</string>
            </dict>
            <key>metal2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1842,626},{47,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{47,81}}</string>
                <key>sourceSize</key>
                <string>{49,83}</string>
            </dict>
            <key>metal3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1990,813},{47,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{47,81}}</string>
                <key>sourceSize</key>
                <string>{49,83}</string>
            </dict>
            <key>metal4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1990,730},{47,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{47,81}}</string>
                <key>sourceSize</key>
                <string>{49,83}</string>
            </dict>
            <key>new_highscore.png</key>
            <dict>
                <key>frame</key>
                <string>{{1247,1022},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{132,132}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>panel_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{1051,2},{640,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{640,210}}</string>
                <key>sourceSize</key>
                <string>{642,212}</string>
            </dict>
            <key>panel_bottom_button_ranking.png</key>
            <dict>
                <key>frame</key>
                <string>{{1483,796},{159,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{159,80}}</string>
                <key>sourceSize</key>
                <string>{161,82}</string>
            </dict>
            <key>panel_bottom_button_setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,940},{159,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{159,80}}</string>
                <key>sourceSize</key>
                <string>{161,82}</string>
            </dict>
            <key>panel_button_add_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1829,1009},{64,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{64,78}}</string>
                <key>sourceSize</key>
                <string>{66,80}</string>
            </dict>
            <key>panel_coins_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1693,2},{319,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{319,114}}</string>
                <key>sourceSize</key>
                <string>{321,116}</string>
            </dict>
            <key>panel_exp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1638,318},{318,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{318,114}}</string>
                <key>sourceSize</key>
                <string>{320,116}</string>
            </dict>
            <key>panel_exp_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2014,2},{193,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{193,23}}</string>
                <key>sourceSize</key>
                <string>{195,25}</string>
            </dict>
            <key>panel_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{1051,214},{585,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{585,184}}</string>
                <key>sourceSize</key>
                <string>{587,186}</string>
            </dict>
            <key>panel_popup.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{490,574}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{490,574}}</string>
                <key>sourceSize</key>
                <string>{492,576}</string>
            </dict>
            <key>panel_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{1693,118},{318,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{318,114}}</string>
                <key>sourceSize</key>
                <string>{320,116}</string>
            </dict>
            <key>small_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1051,474},{11,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{11,14}}</string>
                <key>sourceSize</key>
                <string>{13,16}</string>
            </dict>
            <key>soldier.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{607,678}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{607,678}}</string>
                <key>sourceSize</key>
                <string>{609,680}</string>
            </dict>
            <key>weapon_icon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1647,996},{131,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{131,131}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>weapon_icon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1514,996},{131,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{131,131}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>weapon_icon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1831,876},{131,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{131,131}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>weapon_icon_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1698,863},{131,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{131,131}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>weapon_icon_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1565,863},{131,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{131,131}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>weapon_icon_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1381,1022},{131,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{131,131}}</string>
                <key>sourceSize</key>
                <string>{133,133}</string>
            </dict>
            <key>weekly_ranking.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,888},{366,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{366,50}}</string>
                <key>sourceSize</key>
                <string>{368,52}</string>
            </dict>
            <key>white_panel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1051,400},{521,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{521,72}}</string>
                <key>sourceSize</key>
                <string>{523,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlas-ui.png</string>
            <key>size</key>
            <string>{2039,1179}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b89d32ff5838fde9d5d0ca411a2a080b:edf74110c793faece49003107584efba:d3e66a9356b77384036e1ff706750003$</string>
            <key>textureFileName</key>
            <string>atlas-ui.png</string>
        </dict>
    </dict>
</plist>
