<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aa_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,793},{28,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,47}}</string>
                <key>sourceSize</key>
                <string>{28,47}</string>
            </dict>
            <key>aa_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,156},{19,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,47}}</string>
                <key>sourceSize</key>
                <string>{19,47}</string>
            </dict>
            <key>aa_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,744},{28,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,47}}</string>
                <key>sourceSize</key>
                <string>{28,47}</string>
            </dict>
            <key>aa_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,793},{29,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,47}}</string>
                <key>sourceSize</key>
                <string>{29,47}</string>
            </dict>
            <key>aa_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,597},{30,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{30,47}}</string>
                <key>sourceSize</key>
                <string>{32,47}</string>
            </dict>
            <key>aa_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,695},{28,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,47}}</string>
                <key>sourceSize</key>
                <string>{28,47}</string>
            </dict>
            <key>aa_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,646},{28,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,47}}</string>
                <key>sourceSize</key>
                <string>{28,47}</string>
            </dict>
            <key>aa_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,352},{26,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,47}}</string>
                <key>sourceSize</key>
                <string>{26,47}</string>
            </dict>
            <key>aa_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,891},{28,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,47}}</string>
                <key>sourceSize</key>
                <string>{28,47}</string>
            </dict>
            <key>aa_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,744},{29,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,47}}</string>
                <key>sourceSize</key>
                <string>{29,47}</string>
            </dict>
            <key>aa_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,107},{37,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,47}}</string>
                <key>sourceSize</key>
                <string>{37,47}</string>
            </dict>
            <key>aa_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,842},{28,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,47}}</string>
                <key>sourceSize</key>
                <string>{28,47}</string>
            </dict>
            <key>aa_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,450},{24,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,47}}</string>
                <key>sourceSize</key>
                <string>{24,47}</string>
            </dict>
            <key>aa_68.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,891},{28,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,47}}</string>
                <key>sourceSize</key>
                <string>{28,47}</string>
            </dict>
            <key>aa_69.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,499},{24,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{24,45}}</string>
                <key>sourceSize</key>
                <string>{24,47}</string>
            </dict>
            <key>aa_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,205},{24,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,47}}</string>
                <key>sourceSize</key>
                <string>{24,47}</string>
            </dict>
            <key>aa_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{32,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,47}}</string>
                <key>sourceSize</key>
                <string>{32,47}</string>
            </dict>
            <key>aa_72.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{30,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{30,47}}</string>
                <key>sourceSize</key>
                <string>{32,47}</string>
            </dict>
            <key>aa_73.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,107},{18,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,47}}</string>
                <key>sourceSize</key>
                <string>{18,47}</string>
            </dict>
            <key>aa_74.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,695},{29,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,47}}</string>
                <key>sourceSize</key>
                <string>{29,47}</string>
            </dict>
            <key>aa_75.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,499},{30,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,47}}</string>
                <key>sourceSize</key>
                <string>{30,47}</string>
            </dict>
            <key>aa_76.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,2},{24,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,47}}</string>
                <key>sourceSize</key>
                <string>{24,47}</string>
            </dict>
            <key>aa_77.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{35,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{35,47}}</string>
                <key>sourceSize</key>
                <string>{37,47}</string>
            </dict>
            <key>aa_78.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{30,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,47}}</string>
                <key>sourceSize</key>
                <string>{30,47}</string>
            </dict>
            <key>aa_79.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,842},{28,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,47}}</string>
                <key>sourceSize</key>
                <string>{28,47}</string>
            </dict>
            <key>aa_80.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,646},{29,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,47}}</string>
                <key>sourceSize</key>
                <string>{29,47}</string>
            </dict>
            <key>aa_81.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{33,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,54}}</string>
                <key>sourceSize</key>
                <string>{33,54}</string>
            </dict>
            <key>aa_82.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,401},{30,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,47}}</string>
                <key>sourceSize</key>
                <string>{30,47}</string>
            </dict>
            <key>aa_83.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,254},{25,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,47}}</string>
                <key>sourceSize</key>
                <string>{25,47}</string>
            </dict>
            <key>aa_84.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,940},{31,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{31,45}}</string>
                <key>sourceSize</key>
                <string>{31,47}</string>
            </dict>
            <key>aa_85.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,303},{26,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{26,47}}</string>
                <key>sourceSize</key>
                <string>{28,47}</string>
            </dict>
            <key>aa_86.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,205},{33,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,47}}</string>
                <key>sourceSize</key>
                <string>{33,47}</string>
            </dict>
            <key>aa_87.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>aa_88.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{31,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,47}}</string>
                <key>sourceSize</key>
                <string>{31,47}</string>
            </dict>
            <key>aa_89.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,303},{31,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,47}}</string>
                <key>sourceSize</key>
                <string>{31,47}</string>
            </dict>
            <key>aa_90.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,401},{26,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,47}}</string>
                <key>sourceSize</key>
                <string>{26,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>font_hero_aa.png</string>
            <key>size</key>
            <string>{63,984}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f201b1092fbe3082a31ee49be25c35f7:1/1$</string>
            <key>textureFileName</key>
            <string>font_hero_aa.png</string>
        </dict>
    </dict>
</plist>
