<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{32,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,50}}</string>
                <key>sourceSize</key>
                <string>{32,50}</string>
            </dict>
            <key>b_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{1147,2},{23,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,50}}</string>
                <key>sourceSize</key>
                <string>{23,50}</string>
            </dict>
            <key>b_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,2},{31,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,50}}</string>
                <key>sourceSize</key>
                <string>{31,50}</string>
            </dict>
            <key>b_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,2},{32,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,50}}</string>
                <key>sourceSize</key>
                <string>{32,50}</string>
            </dict>
            <key>b_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{35,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,50}}</string>
                <key>sourceSize</key>
                <string>{35,50}</string>
            </dict>
            <key>b_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,2},{32,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,50}}</string>
                <key>sourceSize</key>
                <string>{32,50}</string>
            </dict>
            <key>b_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,2},{31,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,50}}</string>
                <key>sourceSize</key>
                <string>{31,50}</string>
            </dict>
            <key>b_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,2},{29,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,50}}</string>
                <key>sourceSize</key>
                <string>{29,50}</string>
            </dict>
            <key>b_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,2},{31,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,50}}</string>
                <key>sourceSize</key>
                <string>{31,50}</string>
            </dict>
            <key>b_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,2},{32,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,50}}</string>
                <key>sourceSize</key>
                <string>{32,50}</string>
            </dict>
            <key>b_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,2},{40,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,50}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>b_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,2},{31,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,50}}</string>
                <key>sourceSize</key>
                <string>{31,50}</string>
            </dict>
            <key>b_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,2},{27,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,50}}</string>
                <key>sourceSize</key>
                <string>{27,50}</string>
            </dict>
            <key>b_68.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,2},{31,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,50}}</string>
                <key>sourceSize</key>
                <string>{31,50}</string>
            </dict>
            <key>b_69.png</key>
            <dict>
                <key>frame</key>
                <string>{{1089,2},{27,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,50}}</string>
                <key>sourceSize</key>
                <string>{27,50}</string>
            </dict>
            <key>b_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,2},{27,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,50}}</string>
                <key>sourceSize</key>
                <string>{27,50}</string>
            </dict>
            <key>b_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,2},{35,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,50}}</string>
                <key>sourceSize</key>
                <string>{35,50}</string>
            </dict>
            <key>b_72.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{35,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,50}}</string>
                <key>sourceSize</key>
                <string>{35,50}</string>
            </dict>
            <key>b_73.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,2},{21,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,50}}</string>
                <key>sourceSize</key>
                <string>{21,50}</string>
            </dict>
            <key>b_74.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,2},{32,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,50}}</string>
                <key>sourceSize</key>
                <string>{32,50}</string>
            </dict>
            <key>b_75.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,2},{33,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,50}}</string>
                <key>sourceSize</key>
                <string>{33,50}</string>
            </dict>
            <key>b_76.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,2},{27,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,50}}</string>
                <key>sourceSize</key>
                <string>{27,50}</string>
            </dict>
            <key>b_77.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,2},{40,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,50}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>b_78.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{33,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,50}}</string>
                <key>sourceSize</key>
                <string>{33,50}</string>
            </dict>
            <key>b_79.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,2},{31,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,50}}</string>
                <key>sourceSize</key>
                <string>{31,50}</string>
            </dict>
            <key>b_80.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{32,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,50}}</string>
                <key>sourceSize</key>
                <string>{32,50}</string>
            </dict>
            <key>b_81.png</key>
            <dict>
                <key>frame</key>
                <string>{{1195,2},{36,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,57}}</string>
                <key>sourceSize</key>
                <string>{36,57}</string>
            </dict>
            <key>b_82.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,2},{33,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,50}}</string>
                <key>sourceSize</key>
                <string>{33,50}</string>
            </dict>
            <key>b_83.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,2},{28,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,50}}</string>
                <key>sourceSize</key>
                <string>{28,50}</string>
            </dict>
            <key>b_84.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,2},{36,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,50}}</string>
                <key>sourceSize</key>
                <string>{36,50}</string>
            </dict>
            <key>b_85.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,2},{31,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,50}}</string>
                <key>sourceSize</key>
                <string>{31,50}</string>
            </dict>
            <key>b_86.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,2},{36,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,50}}</string>
                <key>sourceSize</key>
                <string>{36,50}</string>
            </dict>
            <key>b_87.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{51,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,50}}</string>
                <key>sourceSize</key>
                <string>{51,50}</string>
            </dict>
            <key>b_88.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,2},{34,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,50}}</string>
                <key>sourceSize</key>
                <string>{34,50}</string>
            </dict>
            <key>b_89.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,2},{35,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,50}}</string>
                <key>sourceSize</key>
                <string>{35,50}</string>
            </dict>
            <key>b_90.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,2},{29,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,50}}</string>
                <key>sourceSize</key>
                <string>{29,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>font_hero_b.png</string>
            <key>size</key>
            <string>{1267,54}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ed76445250aa3bba46a07e2a5f13d0d:1/1$</string>
            <key>textureFileName</key>
            <string>font_hero_b.png</string>
        </dict>
    </dict>
</plist>
