<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>c_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,2},{25,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,43}}</string>
                <key>sourceSize</key>
                <string>{25,43}</string>
            </dict>
            <key>c_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,2},{14,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{14,43}}</string>
                <key>sourceSize</key>
                <string>{16,43}</string>
            </dict>
            <key>c_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,2},{24,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{24,43}}</string>
                <key>sourceSize</key>
                <string>{26,43}</string>
            </dict>
            <key>c_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,2},{25,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,43}}</string>
                <key>sourceSize</key>
                <string>{25,43}</string>
            </dict>
            <key>c_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,2},{28,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{28,43}}</string>
                <key>sourceSize</key>
                <string>{30,43}</string>
            </dict>
            <key>c_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,2},{25,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,43}}</string>
                <key>sourceSize</key>
                <string>{25,43}</string>
            </dict>
            <key>c_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{25,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,43}}</string>
                <key>sourceSize</key>
                <string>{25,43}</string>
            </dict>
            <key>c_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,2},{24,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,43}}</string>
                <key>sourceSize</key>
                <string>{24,43}</string>
            </dict>
            <key>c_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,2},{26,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,43}}</string>
                <key>sourceSize</key>
                <string>{26,43}</string>
            </dict>
            <key>c_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,2},{23,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{23,43}}</string>
                <key>sourceSize</key>
                <string>{25,43}</string>
            </dict>
            <key>c_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,2},{33,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,43}}</string>
                <key>sourceSize</key>
                <string>{33,43}</string>
            </dict>
            <key>c_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,2},{26,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,43}}</string>
                <key>sourceSize</key>
                <string>{26,43}</string>
            </dict>
            <key>c_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,2},{20,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,43}}</string>
                <key>sourceSize</key>
                <string>{20,43}</string>
            </dict>
            <key>c_68.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,2},{26,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,43}}</string>
                <key>sourceSize</key>
                <string>{26,43}</string>
            </dict>
            <key>c_69.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,2},{21,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,43}}</string>
                <key>sourceSize</key>
                <string>{21,43}</string>
            </dict>
            <key>c_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,2},{21,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,43}}</string>
                <key>sourceSize</key>
                <string>{21,43}</string>
            </dict>
            <key>c_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{30,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,43}}</string>
                <key>sourceSize</key>
                <string>{30,43}</string>
            </dict>
            <key>c_72.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,2},{27,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{27,43}}</string>
                <key>sourceSize</key>
                <string>{29,43}</string>
            </dict>
            <key>c_73.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,33},{12,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{12,43}}</string>
                <key>sourceSize</key>
                <string>{14,43}</string>
            </dict>
            <key>c_74.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,2},{23,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{23,43}}</string>
                <key>sourceSize</key>
                <string>{25,43}</string>
            </dict>
            <key>c_75.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{27,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,43}}</string>
                <key>sourceSize</key>
                <string>{27,43}</string>
            </dict>
            <key>c_76.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,2},{19,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{19,43}}</string>
                <key>sourceSize</key>
                <string>{21,43}</string>
            </dict>
            <key>c_77.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{32,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{32,43}}</string>
                <key>sourceSize</key>
                <string>{34,43}</string>
            </dict>
            <key>c_78.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,2},{27,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,43}}</string>
                <key>sourceSize</key>
                <string>{27,43}</string>
            </dict>
            <key>c_79.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,2},{26,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,43}}</string>
                <key>sourceSize</key>
                <string>{26,43}</string>
            </dict>
            <key>c_80.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,2},{21,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{21,43}}</string>
                <key>sourceSize</key>
                <string>{23,43}</string>
            </dict>
            <key>c_81.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{29,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{29,49}}</string>
                <key>sourceSize</key>
                <string>{29,51}</string>
            </dict>
            <key>c_82.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,2},{25,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,43}}</string>
                <key>sourceSize</key>
                <string>{25,43}</string>
            </dict>
            <key>c_83.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,2},{22,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,43}}</string>
                <key>sourceSize</key>
                <string>{22,43}</string>
            </dict>
            <key>c_84.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{27,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{27,42}}</string>
                <key>sourceSize</key>
                <string>{29,42}</string>
            </dict>
            <key>c_85.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,2},{26,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,43}}</string>
                <key>sourceSize</key>
                <string>{26,43}</string>
            </dict>
            <key>c_86.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{29,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,43}}</string>
                <key>sourceSize</key>
                <string>{29,43}</string>
            </dict>
            <key>c_87.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,43}}</string>
                <key>sourceSize</key>
                <string>{44,43}</string>
            </dict>
            <key>c_88.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,2},{28,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,43}}</string>
                <key>sourceSize</key>
                <string>{28,43}</string>
            </dict>
            <key>c_89.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,2},{28,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,43}}</string>
                <key>sourceSize</key>
                <string>{28,43}</string>
            </dict>
            <key>c_90.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,2},{23,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,43}}</string>
                <key>sourceSize</key>
                <string>{23,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>font_hero_c.png</string>
            <key>size</key>
            <string>{991,47}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c262f0768906dac87229d3276887135:1/1$</string>
            <key>textureFileName</key>
            <string>font_hero_c.png</string>
        </dict>
    </dict>
</plist>
