<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>w_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,33},{29,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,49}}</string>
                <key>sourceSize</key>
                <string>{29,49}</string>
            </dict>
            <key>w_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,53},{20,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,49}}</string>
                <key>sourceSize</key>
                <string>{20,49}</string>
            </dict>
            <key>w_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,2},{29,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,49}}</string>
                <key>sourceSize</key>
                <string>{29,49}</string>
            </dict>
            <key>w_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,33},{29,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,49}}</string>
                <key>sourceSize</key>
                <string>{29,49}</string>
            </dict>
            <key>w_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,87},{33,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,49}}</string>
                <key>sourceSize</key>
                <string>{33,49}</string>
            </dict>
            <key>w_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,84},{29,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,49}}</string>
                <key>sourceSize</key>
                <string>{29,49}</string>
            </dict>
            <key>w_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{29,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,49}}</string>
                <key>sourceSize</key>
                <string>{29,49}</string>
            </dict>
            <key>w_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,84},{27,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,49}}</string>
                <key>sourceSize</key>
                <string>{27,49}</string>
            </dict>
            <key>w_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,33},{29,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,49}}</string>
                <key>sourceSize</key>
                <string>{29,49}</string>
            </dict>
            <key>w_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,84},{29,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,49}}</string>
                <key>sourceSize</key>
                <string>{29,49}</string>
            </dict>
            <key>w_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,53},{37,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,49}}</string>
                <key>sourceSize</key>
                <string>{37,49}</string>
            </dict>
            <key>w_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,33},{29,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,49}}</string>
                <key>sourceSize</key>
                <string>{29,49}</string>
            </dict>
            <key>w_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,2},{24,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,49}}</string>
                <key>sourceSize</key>
                <string>{24,49}</string>
            </dict>
            <key>w_68.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,2},{29,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,49}}</string>
                <key>sourceSize</key>
                <string>{29,49}</string>
            </dict>
            <key>w_69.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,29},{24,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,49}}</string>
                <key>sourceSize</key>
                <string>{24,49}</string>
            </dict>
            <key>w_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,80},{24,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,49}}</string>
                <key>sourceSize</key>
                <string>{24,49}</string>
            </dict>
            <key>w_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,2},{32,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,49}}</string>
                <key>sourceSize</key>
                <string>{32,49}</string>
            </dict>
            <key>w_72.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,36},{32,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,49}}</string>
                <key>sourceSize</key>
                <string>{32,49}</string>
            </dict>
            <key>w_73.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{18,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,49}}</string>
                <key>sourceSize</key>
                <string>{18,49}</string>
            </dict>
            <key>w_74.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,34},{29,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,49}}</string>
                <key>sourceSize</key>
                <string>{29,49}</string>
            </dict>
            <key>w_75.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{30,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,49}}</string>
                <key>sourceSize</key>
                <string>{30,49}</string>
            </dict>
            <key>w_76.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,29},{24,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,49}}</string>
                <key>sourceSize</key>
                <string>{24,49}</string>
            </dict>
            <key>w_77.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,53},{37,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,49}}</string>
                <key>sourceSize</key>
                <string>{37,49}</string>
            </dict>
            <key>w_78.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,87},{31,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,49}}</string>
                <key>sourceSize</key>
                <string>{31,49}</string>
            </dict>
            <key>w_79.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,33},{29,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,49}}</string>
                <key>sourceSize</key>
                <string>{29,49}</string>
            </dict>
            <key>w_80.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,85},{29,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,49}}</string>
                <key>sourceSize</key>
                <string>{29,49}</string>
            </dict>
            <key>w_81.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{32,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,56}}</string>
                <key>sourceSize</key>
                <string>{32,56}</string>
            </dict>
            <key>w_82.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,36},{30,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,49}}</string>
                <key>sourceSize</key>
                <string>{30,49}</string>
            </dict>
            <key>w_83.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{25,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,49}}</string>
                <key>sourceSize</key>
                <string>{25,49}</string>
            </dict>
            <key>w_84.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,87},{32,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,49}}</string>
                <key>sourceSize</key>
                <string>{32,49}</string>
            </dict>
            <key>w_85.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,34},{29,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,49}}</string>
                <key>sourceSize</key>
                <string>{29,49}</string>
            </dict>
            <key>w_86.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,36},{33,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,49}}</string>
                <key>sourceSize</key>
                <string>{33,49}</string>
            </dict>
            <key>w_87.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,49}}</string>
                <key>sourceSize</key>
                <string>{48,49}</string>
            </dict>
            <key>w_88.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,36},{32,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,49}}</string>
                <key>sourceSize</key>
                <string>{32,49}</string>
            </dict>
            <key>w_89.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{32,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,49}}</string>
                <key>sourceSize</key>
                <string>{32,49}</string>
            </dict>
            <key>w_90.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,33},{26,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,49}}</string>
                <key>sourceSize</key>
                <string>{26,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_font_white.png</string>
            <key>size</key>
            <string>{510,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1ab5259f2783547b6545c3a569014c2a:1/1$</string>
            <key>textureFileName</key>
            <string>hero_font_white.png</string>
        </dict>
    </dict>
</plist>
